tensorflow
torch
torchvision
transformers
numpy
scipy
scikit-learn
scikit-image
pandas
h5py
matplotlib
librosa
ffmpeg-python
pydub
scikit-video
SoundFile
resampy
spacy
unidecode
sentencepiece
Flask
requests
tqdm
PyYAML
click
pillow
pyngrok
face_alignment
imageio[ffmpeg]