{% if speaker_map %}
<div class="col">
    <div class="card border-white border rounded shadow">
        <div class="card-body">
            <h4 class="card-title">Map Speakers:</h4>
            <form action="{{ url_for('update_map') }}" id="mapSpeaker" method="post">
                {% for speaker, mapped in speaker_map.items() %}
                <p>{{ speaker }}:
                    <select class="border rounded border-light shadow-sm custom-select custom-select-sm" name="{{ speaker }}">
                        {% for model in model_list %}
                            <option value="{{ model }}"{% if model == mapped %} selected{% endif %}>{{ model }}</option>
                        {% endfor %}
                    </select>
                </p>
                {% endfor %}
                <button class="btn btn-primary btn-block d-block" type="submit">Map</button>
            </form>
        </div>
    </div>
</div>
{% endif %}